<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="dip" connectionString="Data Source=LAPTOP-PBBR1U63\SQLEXPRESS;Initial Catalog=LOGIN_PAGE_PRO_GB;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="dip1" connectionString="Data Source=LAPTOP-PBBR1U63\SQLEXPRESS;Initial Catalog=PRODUCT_LIST_GB;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="dip2" connectionString="Data Source=LAPTOP-PBBR1U63\SQLEXPRESS;Initial Catalog=Order_list;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="dip3" connectionString="Data Source=LAPTOP-PBBR1U63\SQLEXPRESS;Initial Catalog=EMPLOYEE_RES;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="dip4" connectionString="Data Source=LAPTOP-PBBR1U63\SQLEXPRESS;Initial Catalog=Delivery_list;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="dip5" connectionString="Data Source=LAPTOP-PBBR1U63\SQLEXPRESS;Initial Catalog=receive_list;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>


</configuration>